body {
  font-family: Arial, sans-serif;
  background: #e6e5e5;
  color: #4a4a4a;
}

.form-container {
  padding: 20px 40px; 
}

.task-board {
  padding: 20px 40px; 
}

/*  Шапка  */
.header {
  background: #3f0148;
  padding: 20px 60px;
  text-align: left;
}

.title {
  color: #fff;
  margin: 0;
  font-size: 26px;
  font-weight: bold;
}

.main {
  padding: 20px 40px;
}

/* Форма добавления  */
.add-task-form {
  background: #fff;
  padding: 20px;
  margin: 10px;
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.add-task-form_title {
  font-weight: bold;
  font-size: 20px;
  margin-right: 12px;
}

.add-task-form_row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.add-task-form_input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.add-task-form_input:focus {
  outline: none;
  border-color: #3f0148;
  box-shadow: 0 0 5px rgba(47, 128, 237, 0.4);
}

.add-task-form_submit {
  flex-shrink: 0;
  background: #3f0148;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.2s;
}

.add-task-form_submit:hover {
  background: #3f0148;
}

/* Таблица колонки */
.table {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px;
  gap: 20px;
}

.column {
  flex: 1;
  min-width: 220px;
}

/* Заголовки колонок */
.header_item {
  font-weight: bold;
  padding: 6px 14px;
  border-radius: 6px;
  margin: 0 auto 15px auto;
  display: inline-block;
  text-align: center;
}

.header_backlog {
  background: #ffd8be;
  color: #4a4a4a;
}

.header_pending {
  background: #c5e7e2;
  color: #00695c;
}

.header_complited {
  background: #c8e6c9;
  color: #2e7d32;
}

.header_cart {
  background: #f9b5ac;
  color: #8b0000;
}

/* Списки задач */
.tasks_list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Задачи */
.tasks_item {
  background: white;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 6px;
  font-size: 14px;
  border-left: 6px solid transparent;
}

.tasks_backlog {
  border-left-color: #4a4a4a;
}

.tasks_pending {
  border-left-color: #00695c;
}

.tasks_complited {
  border-left-color: #2e7d32;
}

.tasks_cart {
  border-left-color: #8b0000;
}

/* Кнопка удалить */
.tasks_clear-button {
  background: #e74c3c;
  color: white;
  border: none;
  padding: 12px;
  width: 100%;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.2s;
}

.tasks_clear-button:hover {
  background: #c0392b;
}
